.container-ordenacao {
    display: flex;
    justify-content: center;
    gap: 1.75em;
    margin-top: 3.5em;
}

.botao {
    border: none;
    background-color: transparent;
    color: var(--cinza-médio);
    font-size: 22px;
}

.botao-ativo {
    color: var(--verde-destaque);
    font-weight: 500;
    text-decoration: underline;
}